{{!-- component to add a new image to add a new home  --}}
<img src="/images/manyatta-pics/anon_user.png" alt="House image">
<br>
<button class="btn btn-default" {{action "find image"}} class="add-add-new-image-button">Add image</button>
