<!-- search box section -->
  <div class="col-sm-6 col-sm-offset-3">
            <div id="divscoverimaginary_container">
            <h1>Find your home today</h1>
              <!-- search bar -->
                <div class="input-group stylish-input-group discoversearchbar">
                    {{input type="text" class="search" placeholder="Search for cool Homes..." value=search-home class="form-control"}}
                    <span class="input-group-addon discoversearchbar-button">
                      <!-- searchbar-button -->
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>