<!-- discover single house panel -->

<div class="container">
  <div class="row">
    <!-- location of home -->
    <div class="container">
      <h4>Nairobi</h4>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
          <div class="panel panel-primary event-primary">
            <!-- house name -->
              <div class="discover-panel-heading"></div>
              <div class="panel-body nopadding">
                <!-- image -->
                  <img src="/images/manyatta-pics/home4.jpg" alt="event image" class="img-responsive"/>
              </div>
              <!-- panel footer -->
              <div class="panel-footer panel-primary">
                <!-- house name -->
                <div class="row">
                  <h4 class="discover-homename">House Name</h4>
                </div>
                <!-- location of house -->
                <div class="row nopadding">
                    <div class="discover-location">
                      location
                    </div>
                </div>
                <!-- reviews of house -->
                <div class="row">
                  <h5 class="discover-review">Reviews
                  </h5>
                </div>
                <!-- cost -->
                <div class="row">
                  <button class="btn btn-success discover-cost">$$$$$</button>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
