<!-- search-tile component fill in a location to display all homes in the location -->

<!-- search box section -->
  <div class="col-sm-6 col-sm-offset-3">
            <div id="divscoverimaginary_container">
              <!-- search bar -->
                <div class="input-group stylish-input-group discoversearchbar">
                    {{input type="text" class="search" placeholder="Discover location..." value=search class="form-control"}}
                    <span class="input-group-addon discoversearchbar-button">
                      <!-- searchbar-button -->
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
