
	<div class="row testimonials">
		<div class="col-md-5 testimonials">
		<div class="testimonial-Video">
		<iframe width="420" height="345" src="https://www.youtube.com/embed/opFaXV79uj8">
		</iframe>
		</div>
		</div>
		<div class="col-md-7">
			<h2>Why Manyatta</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			by,<br>
			<small>Gatonye Maina-the Group CTO.</small>
		</div>
	</div>
