
	<div class="row testimonials">
		<div class="col-md-5 testimonials">
		<div class="testimonial-Video">
		<iframe width="420" height="345" src="https://www.youtube.com/embed/opFaXV79uj8">
		</iframe>
		</div>
		</div>
		<div class="col-md-7">
			<h2>Why Manyatta</h2>
			<div>
			<img class="testimonials-image" src="https://avatars1.githubusercontent.com/u/23454268?v=3&u=b0de58a3b7f7b2de738a2d7c651bd35dc015eeeb&s=400" >
			<p>Manyatta camp have been designed with the environment as a priority Throughout the development the management has planted over 1000 trees on the site in and around Manyatta Camp and around the main lodge.Manyatta Camp also have solar heating for hot water, and low energy lighting throughout the public areas. This has resulted in a very efficient running and clean project. The project was constructed using locally sourced materials such as Taveta stone and local artisans were commissioned to build all the furniture.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			by,<br>
			<small>Gatonye Maina-the Group CTO.</small>
			</div>
		</div>
	</div>
