<div class="container-fluid">
  <div class="row">
    {{!-- This is the add image column --}}
    <div class="col-sm-12 col-md-6">
      {{add-image-new-home}}
    </div>
    {{!-- This colum renders the form  --}}
    <div class="col-sm-12 col-md-6">

    </div>
  </div>

</div>
