@import "bootstrap";

div.singlehomelocation{
    border: 1px solid grey;
    height: 200px;
    width: 300px;
}

.singlehomeimage{
    margin:10px;
    margin-left: 0px;

}

body  {
   background-color: #f8f8f8;
}


//landing search bar
.landing-search{
    background-image: url('../images/manyatta-pics/idea1.jpg');
    width: 100%;
    height: 500px;

    background-repeat: no-repeat;
}

//start of the footer
.no-margin{
   margin: 0px;
}
.no-padding{
   padding: 0px;
}
.site-footer{
   background-color: #222;
   color: #ffffff;
   margin-top: 30px;
   padding-top: 30px;
}
.buttom-footer{
   margin-top: 10px;
   padding-top: 10px;
   color: #b2b2b2;
   border-top: 1px solid #b2b2b2;
}
.footer-nav{
   text-align: right;
   list-style: none;
}
.footer-nav li{
   display: inline;

}
.footer-nav li:not(:first-child):before{
   padding: 0px 10px;
   content: '|';
}
.footer-nav a{
   color: #b2b2b2;
}
.footer-nav a:hover{
   color: #ffffff;
   text-decoration: none;
}
.social-icons{
   text-align: right;
   list-style: none;
}
.social-icons li{
   display: inline;
}
.header{
   font-family: 'Monoton', cursive;

}

$fadedBlack : rgba(0,0,0,0.4);

.add-add-new-image{
  margin-top: 5%;
}
.add-add-new-home-form{
  margin-top: 5%;
  border-left: 1px solid $fadedBlack;
  padding: 5%;
}
.add-add-new-image-button{
  margin-top: 2%;
  font-size: 15px;

}
.profile-picture {
  width: 210px;
  height: 210px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.profile-picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

// discover template

// searchbar
#discoverimaginary_container{
    // margin-top:20%; /* Don't copy this */
}
.discoversearchbar .stylish-input-group .input-group-addon{
    background: white !important;
}
.discoversearchbar-button .stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

// house panels
.nopadding {
    margin-left: 0px;
    margin-right: 0px;
}
.discover-panel-heading {
    color: #fff;
    background-color:#f9f9f9;
    border-color: #337ab7;
    padding:0px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}
.discover-homename {
  margin: 0px;
  padding-left:10px;
  color:#257ccc;
}
.discover-location {
  padding-left: 0px;
}
.discover-review {
  padding-left: 10px;
}
.discover-cost {
  float: right;
  margin-right: 10px;
}

//testimonial section
.testimonials{
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}
.testimonial-Video{
  border-right: 2px solid grey;
}

//home page search bar
.home-page-search{
  padding-top: 120px;
}
