<div class="singlehome col-md-12" >
    <div class="singlehomeimage col-md-12">   
        <img src="/images/manyatta-pics/home1.jpg" alt="home1" height="600" width="100%">
    </div>
    <div class="col-md-8">  
        <button class=" btn btn-danger">Book Now</button> 
        <h3>description</h3>
            <p> this here should call out details of a home as specified by the owner</p>
        <h3>rules</h3>
            <p> rules should be stipulate here</p>
    </div>
    <div class="singlehomelocation col-md-4">
        <h3> Location</h3>
    </div>
</div>
