<!-- discovery template includes search box, homes, locations -->

<div class="container-fluid">
  <!-- search bar section -->
  <div class="row">
    {{search-tile}}
  </div>
  <!-- homes and location section  -->

  <div class="row">
    {{house-tile}}
  </div>
</div>
