<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Account Settings</a></li>
    <li role="presentation"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Bookings</a></li>
    <li role="presentation"><a href="#houses" aria-controls="houses" role="tab" data-toggle="tab">Houses</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
  </div>

</div>
