<!-- profile picture for user -->
<div class="container-fluid ">

<div class="profile-picture">
  <img src="/images/manyatta-pics/dining1.jpg" alt="profile picture" />
</div>

<!-- user profile tabs -->
{{profile-tile}}

</div>
