<!-- profile picture for user -->
<div class="profile-picture">
  <img src="/images/manyatta-pics/dining1.jpg" alt="profile picture" />
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Account Settings</a></li>
    <li role="presentation"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Bookings</a></li>
    <li role="presentation"><a href="#houses" aria-controls="houses" role="tab" data-toggle="tab">Houses</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="settings">...</div>
    <div role="tabpanel" class="tab-pane" id="bookings">...</div>
    <div role="tabpanel" class="tab-pane" id="houses">...</div>
  </div>

</div>
